@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #C5E4E7;
}
main{
    width: 100%;
    margin-top: 41px;
    border-radius: 25px 25px 0px 0px;
    background: #FFF;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.20);
    height: 789px;
    padding-bottom: 0px;
    box-sizing: border-box;
}
section{
    padding: 32px;
}
.logo{
    width: 87px;
    margin-top: 50px;
}

label{
    display: block;
    color: #5E7A7D;
    font-family: "Space Mono";
    font-size: 16px;
    font-weight: 700;

}
input{
    margin-top: 6px;
    color: #00474B;
    text-align: right;
    font-family: "Space Mono";
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
    background: #F3F9FA;
    border: none;
    padding: 6px 18px 6px 20px;
    width: -webkit-fill-available;
}
form{
    position: relative;
}
form img{
    width: 10px;
    height: 15px;
    position: absolute;
    bottom: 16px;
    left: 20px;
}
p{
    color: #5E7A7D;
    font-family: "Space Mono";
    font-size: 16px;
    font-weight: 700;

}
section p{
    margin-top: 32px;
}
.percentage{
    margin-top: 16px;
    display: grid;
    grid-template-columns:  auto auto;
    grid-template-rows: 48px 48px 48px;
    gap:16px;
}
.percentagediv{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #00474B;
}
#costum input{
    box-sizing: border-box;
    margin-top: 0px;
    color: #547878;
    text-align: right;
    font-family: "Space Mono";
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    position: absolute;
}
.percentagediv span{
    color: #FFF;
    text-align: center;
    font-family: "Space Mono";
    font-size: 24px;
    font-weight: 700;
}
#secondform{
    margin-top: 32px;
}
#secondform img{
    width:13px;
    height: 16px;
    left: 17px;
}
article{
    margin: 32px 24px;
    padding: 37px 22px 24px 24px;
    border-radius: 15px;
    background: #00474B;
}
h2{
    color: #FFF;
    font-family: "Space Mono";
    font-size: 16px;
    font-weight: 700;
}
article p{
    color: #7F9D9F;
    font-family: "Space Mono";
    font-size: 13px;
    font-weight: 700;
}
.articlefirstdiv{
    display: flex;
    align-items: center;
}
.articlefirstdiv img{
    height: 40px;
}

h3{
    color: #26C2AE;
    font-family: "Space Mono";
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1px;
}
.firstmoneydiv{
    display: flex;
    align-items: center;
    margin-left: auto;
}
#articleseconddiv{
    margin-top: 21px;
}

.reset p{
    color: #00474B;
    text-align: center;
    font-family: "Space Mono";
    font-size: 20px;
    font-weight: 700;
}
.percentagediv:hover {
    background: #9FE8DF;
    cursor: pointer;
}
.percentagediv:hover span{
    color:black;
    
}
.reset:hover{
    background-color: #9FE8DF;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  
}
.error{
    position: absolute;
    right: 0px;
    top:0px;
    display: none;
}
.error p{
    color: #E17457;
    font-family: "Space Mono";
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
}

#costum input:hover {
    cursor: pointer;
}
.reset{
    margin-top: 33px;
    height: 48px;
    border-radius: 5px;
    background: #26C2AE;
    display: grid;
    justify-content: center;
    align-items: center;
    padding:9px 32px;
    box-sizing: border-box;
    box-shadow: 0 6px #666;
}
.reset:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }









@media(min-width:1440px){
main{
    display: grid;
    grid-template-columns: 1fr 1.0767fr;;
    width:-webkit-fill-available;
    height: 481px;
    border-radius: 25px;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.20);
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 87px;
}
section{
    margin:45px 16px 48px 48px;
    width:-webkit-fill-available;
    padding: 0px;
}
.percentage {
    margin-top: 16px;
    grid-template-columns: auto auto auto;
    column-gap:14px;
    grid-template-rows: 48px 48px;

}
#costum input{
    padding: 6px 15px 6px 15px;
}
#secondform {
    margin-top: 40px;
}
article {
    box-sizing: border-box;
    margin: 32px;
    width: -webkit-fill-available;
    padding: 56px 40px 40px 40px;
}
#articleseconddiv {
    margin-top: 25px;
}
.reset{
    margin-top: 134px;


}
}